
<app-banner></app-banner>
<!-- slider end-->



<!-- Feature Blog End -->
<div class="section-space80 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title mb60 text-center">
                    <h1>Derniers annonces</h1>
                    <p>Many desktop publishing packages and web page editors now use orem psum as their default model text.</p>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-4">
                <!-- vendor box start-->
                <div class="vendor-box">
                    <div class="vendor-image">
                        <!-- vendor pic -->
                        <a href="#"><img src="assets/images/monaco.jpg" alt="wedding vendor" class="img-responsive"></a>
                        <div class="feature-label"></div>
                        <div class="favourite-bg"><a href="#" class=""><i class="fa fa-heart"></i></a></div>
                    </div>
                    <!-- /.vendor pic -->
                    <div class="vendor-detail">
                        <!-- vendor details -->
                        <div class="caption">
                            <!-- caption -->
                            <h2><a href="#" class="title">Venue Vendor Title</a></h2>
                            <p class="location"><i class="fa fa-map-marker"></i> Street Address, Name of Town, 12345, Country.</p>
                        </div>
                        <!-- /.caption -->
                        <div class="vendor-price">
                            <div class="price">$190 - $600</div>
                        </div>
                    </div>
                    <!-- vendor details -->
                </div>
            </div>
            <!-- /.vendor box start-->
            <div class="col-md-4">
                <!-- vendor box start-->
                <div class="vendor-box">
                    <div class="vendor-image">
                        <!-- vendor pic -->
                        <a href="#"><img src="assets/images/monaco.jpg" alt="wedding vendor" class="img-responsive"></a>
                        <div class="rated-label"></div>
                        <div class="favourite-bg"><a href="#" class=""><i class="fa fa-heart"></i></a></div>
                    </div>
                    <!-- /.vendor pic -->
                    <div class="vendor-detail">
                        <!-- vendor details -->
                        <div class="caption">
                            <!-- caption -->
                            <h2><a href="#" class="title"> Wedding Dress Vendor Title</a></h2>
                            <p class="location"><i class="fa fa-map-marker"></i> Street Address, Name of Town, 12345, Country.</p>
                            <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <span class="rating-count">(3)</span> </div>
                        </div>
                        <!-- /.caption -->
                        <div class="vendor-price">
                            <div class="price">$290 - $600</div>
                        </div>
                    </div>
                </div>
                <!-- vendor details -->
            </div>
            <!-- /.vendor box start-->
            <div class="col-md-4 vendor-box">
                <!-- vendor box start-->
                <div class="vendor-image">
                    <!-- vendor pic -->
                    <a href="#"><img src="assets/images/monaco.jpg" alt="wedding vendor" class="img-responsive"></a>
                    <div class="popular-label"></div>
                    <div class="favourite-bg"><a href="#" class=""><i class="fa fa-heart"></i></a></div>
                </div>
                <!-- /.vendor pic -->
                <div class="vendor-detail">
                    <!-- vendor details -->
                    <div class="caption">
                        <!-- caption -->
                        <h2><a href="#" class="title">Vendor Photographer Title</a></h2>
                        <p class="location"><i class="fa fa-map-marker"></i> Street Address, Name of Town, 12345, Country.</p>
                        <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <span class="rating-count">(5)</span> </div>
                    </div>
                    <!-- /.caption -->
                    <div class="vendor-price">
                        <div class="price">$390 - $600</div>
                    </div>
                </div>
                <!-- vendor details -->
            </div>
        </div>
    </div>
</div>


<!-- /. Testimonial Section -->
<div class="section-space80">
    <!-- Call to action -->
    <div class="container">
        <div class="row">
            <div class="col-md-6 couple-block">
                <div class="couple-icon"><img src="assets/images/couple.svg" alt=""></div>
                <h2>Are you couple find the venue ?</h2>
                <p>Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                <a href="#" class="btn btn-primary">Find Vendor</a> </div>
            <div class="col-md-6 vendor-block">
                <div class="vendor-icon"><img src="assets/images/vendor.svg" alt=""></div>
                <h2>Are you wedding vender ?</h2>
                <p>Fusce eget elementum quam, vel tempor justo. Ut imperdiet eget sapien dictum aliquam. Nulla maximus sodales dignissim.</p>
                <a href="#" class="btn btn-primary">Add Your Listing</a></div>
        </div>
    </div>
</div>