<div class="slider-bg" >
    
    <!-- slider start-->
    
    <div class="find-section">
        <!-- Find search section-->
        <div class="container">
            <div class="row">
                <div class="col-md-offset-1 col-md-10 finder-block">
                    <div class="finder-caption" style="margin-top: 5rem;">
                        <h1>Trouvez votre annonces préférées </h1>
                        <p>Over <strong>1200+ </strong>for you special date &amp; Find the perfect venue &amp; .</p>
                    </div>
                    <div class="finderform">
                        <form>
                            <div class="row">
                                <div class="form-goup  col-md-4" style="margin-bottom: 2rem;">
                                    <input  type="text" placeholder="tapez votre recherche" class="form-control input-md" >
                                </div>
                                <div class="form-group col-md-4"  style="margin-bottom: 2rem;">
                                    <select class="form-control">
                                        <option>Select Vendor Category</option>
                                        <option value="Venue">Venue</option>
                                        <option value="Photographer">Photographer</option>
                                        <option value="Cake">Cake</option>
                                        <option value="Dj">Dj</option>
                                        <option value="Florist">Florist</option>
                                        <option value="Videography">Videography</option>
                                        <option value="jewellery">Jewellery</option>
                                        <option value="Gifts">Gifts</option>
                                        <option value="Dresses">Dresses</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4"  style="margin-bottom: 1rem;">
                                    <select class="form-control">
                                        <option>Select City</option>
                                        <option value="Ahmedabad">Ahmedabad</option>
                                        <option value="Gandhinagar">Gandhinagar</option>
                                        <option value="Rajkot">Rajkot</option>
                                        <option value="Surat">Surat</option>
                                        <option value="Vadodara">Vadodara</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block">Rechercher sur tata</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.Find search section-->
</div>
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
     
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/images/monaco.jpg" class="d-block w-100" alt="...">
      </div>
   
    </div>
 
  </div>